src/main/mule/gogle-sheets-mcp-server.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mcp="http://www.mulesoft.org/schema/mule/mcp" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd       http://www.mulesoft.org/schema/mule/mcp http://www.mulesoft.org/schema/mule/mcp/current/mule-mcp.xsd       http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd       http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">

    <flow name="get-sheet-values-by-tab-name">
        <mcp:tool-listener config-ref="Server" doc:name="get-sheet-values-by-tab-name" name="get-sheet-values-by-tab-name">
            <mcp:description><![CDATA[Retrieves all values from a Google Spreadsheet given a tab name. Tab name and Spreadsheet ID are required.]]></mcp:description>
            <mcp:parameters-schema><![CDATA[{
    "$schema": "http://json-schema.org/draft-07/schema#",
    "type": "object",
    "properties": {
        "sheetId": {
            "type": "string",
            "description": "ID of the sheet to be retrieved. Can be found in sheet URL"
        },

        "tabName": {
            "type": "string",
            "description": "Tab in spreadsheet where all values will be taken from."
        }

    },
    "required": ["sheetId", "tabName"]
}]]></mcp:parameters-schema>
            <mcp:responses>
                <mcp:text-tool-response-content text="#[payload.^raw]" priority="1">
                    <mcp:audience>
                        <mcp:audience-item value="ASSISTANT"/>
                    </mcp:audience>
                </mcp:text-tool-response-content>
            </mcp:responses>
        </mcp:tool-listener>
    <logger doc:name="Enter MCP Tool Logger" doc:id="vxfqkf" message="Entered MCP Tool Get Google Sheet Value By Tab Name"/>
        <flow-ref doc:name="Get Sheet Values By Tab Flow-ref" name="get-sheet-values-by-tab"/>
    <logger doc:name="Exit MCP Tool Logger" doc:id="qrqdoq" message="Exit MCP Tool Get Google Sheet Value By Tab Name"/>
    </flow>



    <flow name="get-sheet-values-by-range-flow">
        <mcp:tool-listener config-ref="Server" doc:name="get-sheet-values-by-range" name="get-sheet-values-by-range">
            <mcp:description><![CDATA[Retrieves a Google sheet values within a given range for limiting to only certain information.]]></mcp:description>
            <mcp:parameters-schema><![CDATA[{
    "$schema": "http://json-schema.org/draft-07/schema#",
    "type": "object",
    "properties": {
        "sheetId": {
            "type": "string",
            "description": "ID of the sheet to be retrieved. Can be found in sheet URL"
        },

        "range": {
            "type": "string",
            "description": "Range of cells to be selected and retrieved."
        }

    },
    "required": ["sheetId", "range"]
}]]></mcp:parameters-schema>
            <mcp:responses>
                <mcp:text-tool-response-content text="#[payload.^raw]" priority="1" >
                <mcp:audience >
                    <mcp:audience-item value="ASSISTANT" />
                </mcp:audience>
                </mcp:text-tool-response-content>
            </mcp:responses>
        </mcp:tool-listener>
    <logger doc:name="Enter MCP Tool Logger" doc:id="ogopsq" message="Entered MCP Tool Get Google Sheet Value By Range"/>
        <flow-ref doc:name="Get Sheet Values by Range Flow-ref" name="get-sheet-values-by-range"/>
        <logger doc:name="Exit MCP Tool Logger" doc:id="yagjds" message="Exit MCP Tool Get Google Sheet Value By Range"/>

    </flow>



    <flow name="create-new-spreadsheet">
        <mcp:tool-listener config-ref="Server" doc:name="create-new-spreadsheet" name="create-new-spreadsheet">
            <mcp:description><![CDATA[Creates a new Google Spreadsheet. The name of the new Spreadsheet is required. Additionally you can provide a set of names for the Tabs to be generated as well.]]></mcp:description>
            <mcp:parameters-schema><![CDATA[{
    "$schema": "http://json-schema.org/draft-07/schema#",
    "type": "object",
    "properties": {
        "title": {
            "type": "string",
            "description": "Name of the new Spreadsheet to be created"
        },

         "sheets":{
            "type": "array",
            "description": "Array of strings with the names of the tabs to be created. If no items are provided, by default will create only one tab named as 'Sheet 1' "      
       }

    },
    "required": ["title"]
}]]></mcp:parameters-schema>
            <mcp:responses>
                <mcp:text-tool-response-content text="#[payload.^raw]" priority="1">
                    <mcp:audience>
                        <mcp:audience-item value="ASSISTANT"/>
                    </mcp:audience>
                </mcp:text-tool-response-content>
            </mcp:responses>
        </mcp:tool-listener>
    <logger doc:name="Enter MCP Tool Logger" doc:id="sgcmqo" message="Entered MCP Tool Create new Google Spreadsheet"/>
        <flow-ref doc:name="Flow-ref" name="create-new-spreadsheet-implementation-flow"/>
    <logger doc:name="Enter MCP Tool Logger" doc:id="djdjjw" message="Finished Execution of MCP Tool Create new Google Spreadsheet"/>
    </flow>



    <flow name="append-sheet-values">
        <mcp:tool-listener config-ref="Server" doc:name="append-sheet-values" name="append-sheet-values">
            <mcp:description><![CDATA[Appends new data in a Spreadsheet given a Range in the spreadsheet. a Spreadsheet ID, the range where data must be inserted and the actual data to be inserted is required.]]></mcp:description>
        <mcp:parameters-schema><![CDATA[{
    "$schema": "http://json-schema.org/draft-07/schema#",
    "type": "object",
    "properties": {
        "sheetId": {
            "type": "string",
            "description": "ID of the sheet to be retrieved. Can be found in sheet URL"
        },

        "range": {
            "type": "string",
            "description": "Range of cells to be selected and retrieved."
        },

         "values":{
            "type": "array",
            "description": "Set of arrays with data to be inserted."      
       }

    },
    "required": ["sheetId", "range"]
}]]></mcp:parameters-schema>
            <mcp:responses>
                <mcp:text-tool-response-content text="#[payload.^raw]" priority="1">
                    <mcp:audience>
                        <mcp:audience-item value="ASSISTANT"/>
                    </mcp:audience>
                </mcp:text-tool-response-content>
            </mcp:responses>
        </mcp:tool-listener>
    <logger doc:name="Enter MCP Tool Logger" doc:id="kebrri" message="Entered MCP Tool Append Google Sheet Value"/>
        <flow-ref doc:name="Append Sheet Values Implementation Flow-ref" name="append-values-to-sheet"/>
    <logger doc:name="Exit MCP Tool Logger" doc:id="nrbuga" message="Exit MCP Tool Append Google Sheet Value"/>
    </flow>
</mule>
