src/main/mule/implementation.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:google-sheets="http://www.mulesoft.org/schema/mule/google-sheets" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd     http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd  http://www.mulesoft.org/schema/mule/google-sheets http://www.mulesoft.org/schema/mule/google-sheets/current/mule-google-sheets.xsd  http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
    <flow name="get-sheet-values-by-range">
        <http:listener config-ref="HTTP-Listener-config" doc:id="crbcqz" doc:name="Listener" path="/get-sheet-values-by-range"></http:listener>
        <logger doc:id="zgirjb" doc:name="Start Get Sheets Values Flow" message="Invoking Get Sheet Range Values Flow"></logger>
        <set-variable doc:id="kmtgmf" doc:name="Set Sheet Id Variable" value="#[payload.sheetId]" variableName="vSheetId"></set-variable>
        <set-variable doc:id="vsxmuo" doc:name="Set Sheet Range variable" value="#[payload.range]" variableName="vSheetRange"></set-variable>
        <google-sheets:get-spreadsheets-values-by-spreadsheet-id-range config-ref="Google-Sheet-Mule-Connector-Config" doc:id="jvzdls" doc:name="Get Spreadsheets Values" range="#[vars.vSheetRange]" spreadsheetId="#[vars.vSheetId]"></google-sheets:get-spreadsheets-values-by-spreadsheet-id-range>
        <logger doc:id="ffloio" doc:name="Exit Get Sheet Logger" message="Exiting Get Sheet Range Values Logger"></logger>
    </flow>
    <flow name="get-access-token">
        <http:listener config-ref="HTTP-Listener-config" doc:name="Listener" path="/get-access-token"></http:listener>
        <logger doc:id="rjaomj" doc:name="Start Get Token From OS Logger" message="Checking if Token is Stored"></logger>
        <os:contains doc:id="zlxwno" doc:name="OS Contains Access Token" key="default-Google-Sheet-Mule-Connector-Config" objectStore="Object-store" target="IsTokenStored"></os:contains>
        <choice doc:id="jjmkfz" doc:name="Choice">
            <when doc:name="When Token is Stored" expression="#[vars.IsTokenStored]">
                <logger doc:id="jzvvvg" doc:name="Logger"></logger>
                <os:retrieve doc:name="Retrieve OAuth Context" key="default-Google-Sheet-Mule-Connector-Config" objectStore="Object-store">
                    <os:default-value><![CDATA[#[null]]]></os:default-value>
                </os:retrieve>
                <set-variable doc:name="Set Access Token" value="#[(payload.accessToken default '') as String]" variableName="vAccessToken"></set-variable>
                <set-variable doc:name="Set Refresh Token" value="#[(payload.refreshToken default '') as String]" variableName="vRefreshToken"></set-variable>
                <logger doc:name="Log Token" level="INFO" message="#['Access Token: ' ++ vars['vAccessToken'] ++ ' | Refresh Token: ' ++ vars['vRefreshToken']]"></logger>
                <ee:transform doc:name="Build Response">
                    <ee:message>
                        <ee:set-payload resource="dataweave\retrieve-access-token.dwl"></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
            <otherwise>
                <ee:transform doc:id="akdmfq" doc:name="Transform">
                    <ee:message>
                        <ee:set-payload doc:id="hkryva" doc:name="Set payload" resource="dataweave\oAuth-dance-is-required-message.dwl"></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </otherwise>
        </choice>
        <!-- Retrieve the OAuth context object using the exact key Mule uses -->
        <!-- DataWeave accesses Java bean getters as properties: getAccessToken() -> accessToken -->
        <logger doc:id="ppryhx" doc:name="Exit Get Token From OS Logger" message="Checked if Token is Stored"></logger>
    </flow>
    <flow name="health-status-sub-flow">
        <http:listener config-ref="HTTP-Listener-config" doc:id="blvbym" doc:name="Listener" path="/health"></http:listener>
        <logger doc:id="qzvyrw" doc:name="Start Health Status Logger" message="Health Status Sub Flow Initiated"></logger>
        <ee:transform doc:id="oolixb" doc:name="Transform">
            <ee:message>
                <ee:set-payload doc:id="loznlv" doc:name="Set payload" resource="dataweave\health-status.dwl.txt"></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger doc:id="upuisg" doc:name="End Health Status Logger" message="Health Status Sub Flow Finished"></logger>
    </flow>
    <flow name="get-sheet-values-by-tab">
        <http:listener config-ref="HTTP-Listener-config" doc:id="neqpio" doc:name="Listener" path="get-sheet-values-by-tab"></http:listener>
        <logger doc:id="upqcsf" doc:name="Start Get Sheet Values by Tab Flow Logger" message="Get Sheet Values by Tab Flow Started"></logger>
        <set-variable doc:id="wcgiyj" doc:name="Set variable" value="#[payload.sheetId]" variableName="vSheetId"></set-variable>
        <set-variable doc:id="gxtidx" doc:name="Set Tab Name variable" value="#[payload.tabName]" variableName="vTabName"></set-variable>
        <flow-ref doc:name="Get Access Token Flow Reference" name="get-access-token" target="vAccessToken" targetValue="#[payload.access_token]"></flow-ref>
        <http:request config-ref="Google-Sheet-Request-API" doc:id="yrilax" doc:name="Request" url="#[&quot;https://sheets.googleapis.com/v4/spreadsheets/&quot; ++ vars.vSheetId ++ &quot;/values/&quot; ++ vars.vTabName ++ &quot;?access_token=&quot; ++ vars.vAccessToken]"></http:request>
        <logger doc:id="nlcltr" doc:name="Finish Get Sheet Values by Tab Flow Logger" message="Get Sheet Values by Tab Flow Finished"></logger>
    </flow>
    <flow name="append-values-to-sheet">
        <http:listener doc:name="Listener" doc:id="tdgzbf" path="/append-values" config-ref="HTTP-Listener-config"/>
        <logger doc:name="Start Append Values Flow Logger" doc:id="jmkmpo" message="Append Values Flow Started"/>
        <set-variable doc:name="Set values variable" doc:id="iehhvb" variableName="vSheetValuesToAppend" value="#[payload.values]"/>
        <set-variable doc:id="lgeyqp" doc:name="Set Sheet Id Variable" value="#[payload.sheetId]" variableName="vSheetId"></set-variable>
        <set-variable doc:id="qdvpkh" doc:name="Set Sheet Range variable" value="#[payload.range]" variableName="vSheetRange"></set-variable>
        <!-- Get access token from Object Store -->
        <flow-ref doc:name="Get Access Token Flow Reference" name="get-access-token" target="vAccessToken" targetValue="#[payload.access_token]"/>
        <!-- Build ValueRange body -->
        <set-payload doc:name="Set ValueRange payload" doc:id="wdnxfb" value="#[%dw 2.0
output application/json
---
{
    range: vars.vSheetRange,
    majorDimension: 'ROWS',
    values: vars.vSheetValuesToAppend
}]"/>
        <!-- Direct HTTP POST to Google Sheets API -->
        <http:request config-ref="Google-Sheet-Request-API" doc:id="gvappn" doc:name="Append Values HTTP Request" method="POST"
            url="#['https://sheets.googleapis.com/v4/spreadsheets/' ++ vars.vSheetId ++ '/values/' ++ vars.vSheetRange ++ ':append?valueInputOption=USER_ENTERED&amp;insertDataOption=INSERT_ROWS&amp;access_token=' ++ vars.vAccessToken]">
            <http:headers><![CDATA[#[{"Content-Type": "application/json"}]]]></http:headers>
        </http:request>
        <logger doc:name="Append Values Flow Finished Logger" doc:id="dbwobj" message="Append Values Flow Finished"/>
        <error-handler>
            <on-error-continue type="ANY">
                <logger level="ERROR" doc:name="Log Full Error"
                    message="#['ERROR TYPE: ' ++ error.errorType.identifier
                        ++ ' | DESCRIPTION: ' ++ error.description
                        ++ ' | CAUSE: ' ++ (error.cause.message default 'no cause')
                        ++ ' | PAYLOAD: ' ++ (write(error.errorMessage.payload, 'application/json') default 'no payload')]"/>
                <set-payload value="#[%dw 2.0
output application/json
---
{
    errorType: error.errorType.identifier,
    description: error.description,
    cause: error.cause.message default 'no cause',
    payload: error.errorMessage.payload
}]" doc:name="Set Error Response"/>
            </on-error-continue>
        </error-handler>
    </flow>
</mule>
